#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "dialogs.h"

IDD_DIALOG_QUALITY DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Wybierz jakosc"
FONT 8, "MS Sans Serif"
{
    //EDITTEXT        ID_EDITTEXT, 153, 24, 20, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    LTEXT           L"Jakosc", 8, 8, 4, 38, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 8, 12, 140, 16, WS_EX_LEFT
    //CONTROL         "", ID_UPDOWN, UPDOWN_CLASS, UDS_ARROWKEYS | UDS_SETBUDDYINT, 171, 22, 12, 16, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_ADD DIALOG DISCARDABLE 20, 20, 200, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dodaj wartosci"
FONT 8, "MS Sans Serif"
{
    LTEXT           L"Wartosci", 8, 8, 4, 78, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_ED_R, 0, 0, 24, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_R, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 10, 24, 140, 16, WS_EX_LEFT
    EDITTEXT        ID_ED_G, 0, 0, 24, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_G, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 10, 44, 140, 16, WS_EX_LEFT
    EDITTEXT        ID_ED_B, 0, 0, 24, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_B, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 10, 64, 140, 16, WS_EX_LEFT

    AUTORADIOBUTTON     L"Dodawanie", ID_RB_A, 16, 90, 60, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON     L"Odejmowanie", ID_RB_S, 86, 90, 60, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON     L"Mnozenie", ID_RB_M, 16, 100, 60, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON     L"Dzielenie", ID_RB_D, 86, 100, 60, 8, 0, WS_EX_LEFT

    //CONTROL         "", ID_UPDOWN, UPDOWN_CLASS, UDS_ARROWKEYS | UDS_SETBUDDYINT, 171, 22, 12, 16, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 118, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 118, 50, 14, 0, WS_EX_LEFT
}


IDD_DIALOG_BRIGHTNESS DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Zmien jasnosc"
FONT 8, "MS Sans Serif"
{
    EDITTEXT        ID_ED_BRIGHT, 0, 0, 20, 12,  WS_CHILD, WS_EX_LEFT
    LTEXT           L"Jakosc", 0, 8, 4, 38, 8, SS_LEFT, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_BRIGHT, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 8, 12, 140, 16, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_FILTER DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Filtr"
FONT 8, "MS Sans Serif"
{
    LTEXT           L"Filtr", ID_L_FILTER_NAME, 8, 4, 38, 14, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_FILTER_SOBEL DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sobel"
FONT 8, "MS Sans Serif"
{
    AUTORADIOBUTTON     L"Poziomy", ID_RB_POZ, 16, 8, 60, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON     L"Pionowy", ID_RB_PION, 86, 8, 60, 8, 0, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_FILTER_UP_SHARPEN DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Gornoprzepustowy"
FONT 8, "MS Sans Serif"
{
    AUTORADIOBUTTON     L"LVL 0", ID_RB_LVL0, 16, 8, 60, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON     L"LVL 1", ID_RB_LVL1, 86, 8, 60, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON     L"LVL 2", ID_RB_LVL2, 16, 20, 60, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON     L"LVL 3", ID_RB_LVL3, 86, 20, 60, 8, 0, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_FILTER_GAUSS DIALOG DISCARDABLE 20, 20, 200, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Gauss"
FONT 8, "MS Sans Serif"
{
    LTEXT           L"Rozmiar", 8, 8, 24, 78, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_ED_S, 0, 0, 24, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_SIZE, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 10, 24, 140, 16, WS_EX_LEFT

    LTEXT           L"Wartosc", 8, 8, 44, 78, 8, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_ED_U, 0, 0, 24, 12, ES_NUMBER| WS_CHILD, WS_EX_LEFT
    CONTROL         "", ID_TRACKBAR_U, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH, 10, 64, 140, 16, WS_EX_LEFT

    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 118, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 118, 50, 14, 0, WS_EX_LEFT
}


IDD_DIALOG_COLOR_DESTURYZATION DIALOG DISCARDABLE 20, 20, 200, 56
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Desturyzacja"
FONT 8, "MS Sans Serif"
{
    AUTORADIOBUTTON     L"Normalny", ID_RB_NORM, 16, 8, 60, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON     L"YUV", ID_RB_YUV, 86, 8, 60, 8, 0, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 37, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 37, 50, 14, 0, WS_EX_LEFT
}


IDD_DIALOG_HISTOGRAM DIALOG DISCARDABLE 0, 0, 374, 144
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Histogram"
FONT 8, "MS Sans Serif"
{
    AUTORADIOBUTTON L"Bez", ID_RB_BEZ, 8, 8, 30, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON L"Rozciagniecie", ID_RB_ROZC, 38, 8, 60, 8, 0, WS_EX_LEFT
    AUTORADIOBUTTON L"Wyrównanie", ID_RB_WYR, 98, 8, 52, 8, 0, WS_EX_LEFT
    COMBOBOX        ID_HIST_LIST, 162, 6, 88, 88, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT
    COMBOBOX        ID_BIN_LIST, 260, 6, 88, 88, CBS_DROPDOWNLIST | CBS_HASSTRINGS, WS_EX_LEFT

    LTEXT           L"0", 0, 4, 120, 20, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           L"255", 0, 344, 120, 20, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           L"255", ID_LB_MAX, 354, 22, 28, 8, SS_LEFT, WS_EX_LEFT

    PUSHBUTTON      "Cancel", IDCANCEL, 91, 124, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 149, 124, 50, 14, 0, WS_EX_LEFT
}

IDD_DIALOG_MORFOLOGY_HIT DIALOG DISCARDABLE 20, 20, 200, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hir Or Miss"
FONT 8, "MS Sans Serif"
{
    AUTORADIOBUTTON     L"Pogrubianie", ID_RB_THICK, 16, 8, 60, 8, WS_GROUP, WS_EX_LEFT
    AUTORADIOBUTTON     L"Pocienianie", ID_RB_THIN, 100, 8, 60, 8, 0, WS_EX_LEFT
    PUSHBUTTON      "Anuluj", IDCANCEL, 41, 178, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 96, 178, 50, 14, 0, WS_EX_LEFT
}
